//NAV
$backNav:#ffffff;
$containerHeight:65px;
//HEADER
$imgBack: url('../assets/image/home-3-hero-bg.jpg');
$sizeBack: cover;
$backHeight: 600px;

$backsmoke:#ececec;
$smallDfont: 12px;
$smallDcolor: grey;

$celesteACQ:#2fab97